<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>bpitproject@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>bpitproject1</param-value>
    </context-param>
    <servlet>
        <servlet-name>EmailSendingServlet</servlet-name>
        <servlet-class>EmailSendingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enrolled</servlet-name>
        <servlet-class>enrolled</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>retriveimage</servlet-name>
        <servlet-class>retriveimage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generatebarcode</servlet-name>
        <servlet-class>generatebarcode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendQRCode</servlet-name>
        <servlet-class>sendQRCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registernewoperator</servlet-name>
        <servlet-class>registernewoperator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeusername</servlet-name>
        <servlet-class>changeusername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeadmin</servlet-name>
        <servlet-class>changeadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>retriveimage1</servlet-name>
        <servlet-class>retriveimage1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>retriveimage2</servlet-name>
        <servlet-class>retriveimage2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteoperator</servlet-name>
        <servlet-class>deleteoperator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletestudent</servlet-name>
        <servlet-class>deletestudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editpassword</servlet-name>
        <servlet-class>editpassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmailSendingServlet</servlet-name>
        <url-pattern>/EmailSendingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminservlet</servlet-name>
        <servlet-class>adminservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminservlet</servlet-name>
        <url-pattern>/adminservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enrolled</servlet-name>
        <url-pattern>/enrolled</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>retriveimage</servlet-name>
        <url-pattern>/retriveimage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generatebarcode</servlet-name>
        <url-pattern>/generatebarcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendQRCode</servlet-name>
        <url-pattern>/sendQRCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registernewoperator</servlet-name>
        <url-pattern>/registernewoperator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeusername</servlet-name>
        <url-pattern>/changeusername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeadmin</servlet-name>
        <url-pattern>/changeadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>retriveimage1</servlet-name>
        <url-pattern>/retriveimage1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>retriveimage2</servlet-name>
        <url-pattern>/retriveimage2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteoperator</servlet-name>
        <url-pattern>/deleteoperator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletestudent</servlet-name>
        <url-pattern>/deletestudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editpassword</servlet-name>
        <url-pattern>/editpassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
